name: Mannual trigger

on:
  workflow_dispatch:

jobs:
  run-commands:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Generate PDF Resume
        run: |
          docker-compose run --rm python json_to_latext.py && docker-compose run --rm latex resume.tex

